<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ej_Animaciones"
        tools:targetApi="31">
        <activity
            android:name=".Varios2"
            android:exported="false" />
        <activity
            android:name=".Varios1"
            android:exported="false" />
        <activity
            android:name=".Mueve2"
            android:exported="false" />
        <activity
            android:name=".Mueve1"
            android:exported="false" />
        <activity
            android:name=".Escala2"
            android:exported="false" />
        <activity
            android:name=".Escala1"
            android:exported="false" />
        <activity
            android:name=".Alfa2"
            android:exported="false" />
        <activity
            android:name=".Alfa1"
            android:exported="false" />
        <activity
            android:name=".Rotar3"
            android:exported="false" />
        <activity
            android:name=".Rotar2"
            android:exported="false" />
        <activity
            android:name=".Rotar1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>